<html>
  <body>
    This provides basic view implementations that be used as-is or extended to create your own view.
    - JOTErrorView is used to generate a standard error message simply.
    - JOTForbiddenView is used to generate a standard "Forbidden" message simply
    - JOTGeneratedFormView provides an automated view for showing/validating forms.
    - JOTGenericFileBrowserView provides an automated file browsing/navigating view.
    - JOTLighweightView provides a special view that is decoupled from the servlet conatiner which can be used to manually parse templates without a web env, or testing.
  </body>
</html>