body{font-family: Arial;font-size:16px;width:100%;margin:0px;padding:0px}
table{font-weight:normal;font-size:16px;}
.navPackage{white-space: nowrap;}
.navItem{}
.pkgName{background-color:#F8E8A8;font-weight:bold;width:300px}

/*pack. summary*/
.pkgSumItem{font-weight:bold;background-color:#eeeeee;padding:4px}
.pkgSumDesc{background-color:#eeeeee;padding:4px;font-weight:normal}
.pkgSumInfos{background-color:#d6f4c3;margin:4px;font-size:16px;font-weight:normal}

.docTitle{color:#BB0000;font-weight:bold;position:absolute;right:5px;top:2px}

.type{color:#990000}
.tagInfo{color:#AA0000}
.item{padding:4px;border-top:1px;border-top-style:solid;border-top-color:black}
.itemDesc{font-weight:normal}

.constructors{background-color:#FFFFCC;padding:4px}
.methods{background-color:#F9F9F9;padding:4px}
.fields{background-color:#DDDDFF;padding:4px}
.inner{background-color:#FFDDDD;padding:4px}

.seeTags{background-color:#d6f4c3;padding:4px;border:black;border-style:solid;border-width:1px}
.seeTag{background-color:#f6ffe3;line-height:150%}

.quicklinks{background-color:#ffffff;margin:1px;padding:4px;border:black;border-style:solid;border-width:1px}

.smallPackName{font-size:14px;font-weight:normal}

.tagTitle{text-align:center;height:18px;padding:2px;font-weight:bold}
.tagBox{padding:3px;min-width:100px;float:left;border-color:black;border-style:solid;border-width:1px;margin-left:7px}

.pkgNav{float:left;padding:2px}
.content{background-color:#eeeeee;margin-left: 300px;padding:2px}

.filter{position:relative;left:46px;}

.title{font-weight:bold;font-size:22px;background-color:#c0dde7;margin:2px;}
.topBar{background-color:#F8E8A8;margin:2px;height:20px}

a.topItem{position:relative;top:2px;background-color:#FFFF88;margin-left:5px;margin-right:5px;margin-top:2px;margin-bottom:2px}
a.topItem:hover{background-color:#DDEEEE}

.moto{background-color:#FFFF88;color:#BB0000;width:300px;font-size:14px}

a.regular{text-decoration:underline;color:#000000}
a.regular:hover{background-color:#ddeeee}

a.more{text-decoration:underline;color:#FFFFFF;font-weight:bold;background-color:#0000ee}
a.more:hover{cursor:pointer;background-color:#0000dd}

a.tooltip{text-decoration:none;position:relative;color:#000000;font-size:16px}
a.tooltip div{width:400px}
a.tooltip div.ttContent{display:none;}
a.tooltip:hover{background-color:#ddeeee}
a.tooltip:hover div.ttContent{z-index: 99;position:absolute;left:50px;top:20px;background-color: #eeeeff;border: 3px;border-color: #0000ff;border-style: ridge;display:block;position:absolute;padding: 3px;max-width:400px;min-height:20px;}

span.required{color:#ff0000;margin-left:5px;font-weight:bold}

span.inherited{background-color:#ddeedd;margin-left:20px}
span.overrides{background-color:#ddddee;margin-left:20px}
span.specified{background-color:#eedddd;margin-left:20px}
span.throws{background-color:#eeddee;margin-left:5px}

a.anchor{}

span.private{color:red;padding-right:4px}
span.public{padding-right:4px}
span.protected{color:orange;padding-right:4px}
span.abstract{color:fuchsia;padding-right:4px;font-weight:bold}
span.final{color:red;padding-right:4px;font-weight:bold}
span.static{color:green;padding-right:4px;font-weight:bold}
span.synchronized{color:blue;padding-right:4px;font-weight:bold}
span.native{color:teal;padding-right:4px}
span.transient{color:teal;padding-right:4px}
span.volatile{color:teal;padding-right:4px}