<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <title>Widget Page Editor</title>
        <style type="text/css">
            .grid{background-color:#eeeeee;position:absolute;border:1px;border-style:dashed;width:98px;height:98px;float:left}    
        </style>
    </head>
    
    <body class="body">    
        <div style="overflow-x:auto;min-width:1000px">
            
            <div style="float:left;width:250px">
                <div style="background-color:#a6b9db;width:250px;height:250px;"><b>Editor</b><br/>
                    <form id="selectform" action="pagebuilderajax.do">
                        <input type="hidden" name="action" id="select_action">
                        <select id="widget_select" name="widget_select" size="5">
                        </select>
                        <br/>
                        <input type="button" value="Remove" onclick="document.getElementById('select_action').value='Remove';jot_ajax_JOTPagePreview_1_form('selectform');">
                        <br/>
                        <input type="button" value="Up" onclick="document.getElementById('select_action').value='Up';jot_ajax_JOTPagePreview_1_form('selectform');">
                        <input type="button" value="Down" onclick="document.getElementById('select_action').value='Down';jot_ajax_JOTPagePreview_1_form('selectform');">
                    </form>
                    <hr/>
                    <form id="addform" action="pagebuilderajax.do">
                        Name: <input type="name" name="name" size="8"><br/>
                        <input type="button" name="action" value="Add" onclick="jot_ajax_JOTPagePreview_1_form('addform');">
                    </form>
                    <hr/>
                </div>
                <div id="props" style="background-color:#b9dba6;width:250px;min-height:25px;">Properties
                </div>
            </div>
            <div style="position:absolute;left:260px;top:8px;width:700px;">
                <jot:widget class="net.jot.web.widget.pagebuilder.JOTPagePreview"/>
            </div>
            
        </div>
    </body>
</html>
